#handy-tooltip {
    position: absolute;
    display: none;
    background: slategray;
    border-radius: 5px;
    width: 500px;
    cursor: pointer;
    font-family: inherit;
    color: #fff;
    padding: 10px;
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently supported by Chrome and Opera */
}
#cal1{
    position: absolute;
    height: 0px;
    width: 0px;
    top: 100px;
    left: 100px;
    overflow: none;
    z-index: -100;
}
#cal2{
    position: absolute;
    height: 0px;
    width: 0px;
    top: 0px;
    left: 0px;
    overflow: none;
    z-index: -100;
}